main {
    padding: 20px;
}

.games-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.game-card {
    background-color: #383838;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.game-card img {
    width: 100%;
    height: auto;
}


.game-card h2 {
    font-size: 1.5em;
    margin: 10px;
}

.game-card p {
    font-size: 1em;
    margin: 10px;
    color: #ccc;
}

.game-card a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.search-bar {
    text-align: center;
    margin-top: 50px;
}

.search-bar input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--textcol);
    border-radius: 5px;
    width: 300px;
    background-color: var(--bgcol2);
    color: var(--textcol);
}

.search-bar input::placeholder {
    color: #999;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: var(--accent);
    color: var(--textcol2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}
