@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: "Kumbh Sans", Arial, sans-serif;
    text-align: center;
    padding: 50px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 0px 0px 0px 0px white;
    transition: box-shadow 0.3s, color 0.3s;
}

a:hover {
    box-shadow: inset 0px -100px 0px 0px white;
    color: #1f1f1f;
}