main {
    padding: 20px;
}

.games-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.game-card {
    background-color: #383838;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.game-card img {
    width: 100%;
    height: auto; 
}


.game-card h2 {
    font-size: 1.5em;
    margin: 10px;
}

.game-card p {
    font-size: 1em;
    margin: 10px;
    color: #ccc;
}

.game-card a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.search-bar {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}

.search-input:focus {
    border-color: #007bff; 
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3; 
}