.search-bar {
    text-align: center;
    margin-top: 50px;
}

.search-bar input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--textcol);
    border-radius: 5px;
    width: 300px;
    background-color: var(--bgcol2);
    color: var(--textcol);
}

.search-bar input::placeholder {
    color: #999;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: var(--accent);
    color: var(--textcol2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.profile-icon {
    width: 100px;
    height: 100px;
    background-color: #2d2d2d87;
    border-radius: 10px;
    overflow: hidden;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}