@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@media (prefers-color-scheme: dark) {
    :root {
        --accent: #3975e5;
        --bgcol: #292929;
        --bgcol2: #222222;
        --textcol: #ffffff;
        --textcol2: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --accent: #00fffb;
        --bgcol: #ffffff;
        --bgcol2: #d4d4d4;
        --textcol: #000000;
        --textcol2: #ffffff;
    }
}
* {
    font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgcol);
    color: var(--textcol);
}

header {
    width: 100%;
    background-color: var(--accent);
    color: var(--textcol2);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav {
    margin-left: auto;
}
nav a, nav a:visited {
    margin-right: 10px; 
    color: var(--textcol2);
    text-decoration: none;
    font-size: 20px;
}
header a, header a:visited {
    color: var(--textcol2);
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
}
header a:hover, header a:active, nav a:hover {
    text-decoration: none;
    color: #ffd700;
}
header img {
    height: 50px;
    margin-right: 20px;
}

h1 {
    color: var(--textcol);
    border: none !important;
    box-shadow: none;
}