header {
  width: 100%;
  background-color: var(--accent);
  color: var(--textcol2);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

header img {
  height: 50px;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

header img:hover {
  transform: scale(1.1);
}

nav {
  display: flex;
  align-items: center;
}

nav a,
nav a:visited {
  margin-right: 10px;
  color: var(--textcol2);
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

nav a:hover,
nav a:active,
header a:hover,
header a:active {
  color: #ffd700;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: var(--textcol2);
  margin: 4px 0;
  transition: 0.4s;
  z-index: 1;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.mobile-nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: var(--bgcol);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1001;
}

.mobile-nav a {
  margin: 10px 0;
  color: var(--textcol);
  text-decoration: none;
  transition: color 0.3s ease;
}

.mobile-nav a:hover {
  color: var(--accent);
}

.mobile-nav.show {
  display: flex;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  nav {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .mobile-nav.show {
    display: flex;
  }
}
