.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 150px;
  overflow: hidden;
}

.loginContainer {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background-color: var(--bgcol2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.loginContainer h2 {
  margin-bottom: 20px;
  color: var(--textcol);
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm input {
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid var(--bgcol3);
  border-radius: 5px;
  background-color: var(--bgcol2);
  color: var(--textcol);
}

.loginForm button {
  padding: 10px;
  background-color: var(--accent);
  color: var(--textcol2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginForm button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 15px;
}
