.mod-manager-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--bgcol2);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.mod-manager-section h1 {
  color: var(--accent);
  margin-bottom: 20px;
}

.mod-manager-section p {
  margin-bottom: 10px;
}

.mod-manager-section ul {
  list-style-type: none;
  margin-bottom: 20px;
}

.mod-manager-section ul li {
  margin-bottom: 5px;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--accent);
  color: var(--textcol2);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #48ddff;
}
