.profile-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #414141;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-header h1 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #ffffff;
}

.profile-header p {
  font-size: 18px;
  color: #efefef;
}

.profile-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

.profile-details p {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.6;
}

.profile-details ul {
  list-style: none;
  padding: 0;
}

.profile-details li {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
}

.profile-details li a {
  color: #007bff;
  text-decoration: none;
}

.profile-details li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .profile-header img {
    width: 120px;
    height: 120px;
  }

  .profile-header h1 {
    font-size: 20px;
  }

  .profile-header p {
    font-size: 16px;
  }

  .profile-details h2 {
    font-size: 18px;
  }

  .profile-details p {
    font-size: 14px;
  }

  .profile-details li {
    font-size: 14px;
  }
}
