.uploadContainer {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.uploadContainer h2 {
  margin-bottom: 20px;
  text-align: center;
}

.uploadForm {
  display: flex;
  flex-direction: column;
}

.uploadForm input,
.uploadForm textarea {
  margin-bottom: 15px;
  color: #ffffff;
  padding: 10px;
  border: 2px solid #353535;
  border-radius: 5px;
  background-color: #3d3d3d;
}

.uploadForm input[type="url"] {
  margin-bottom: 15px;
}

.uploadForm button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.uploadForm button:hover {
  background-color: #0056b3;
}

.uploadForm select {
  margin-bottom: 15px;
  padding: 10px;
  color: #ffffff;
  border: 2px solid #353535;
  border-radius: 5px;
  background-color: #3d3d3d;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.uploadForm select:focus {
  border-color: #007bff;
  outline: none;
}

.uploadForm select option {
  background-color: #3d3d3d;
  color: #ffffff;
}

.uploadForm select {
  position: relative;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5'%3E%3Cpath fill='%23FFFFFF' d='M0 0l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px 5px;
}

.uploadForm select::-ms-expand {
  display: none;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}
